VITE_ORS_API_KEY="get api from https://account.heigit.org/manage/key"

## API Key is distributed by openrouteservice | Services developed by HeiGIT gGmbH.
## https://openrouteservice.org/dev/
## You can learn more about OpenRouteService API Directions Service from the link below
## https://openrouteservice.org/dev/#/api-docs/introduction